body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Passion One";
}

:root {
  --main-color: #fd3b06;
  --main-color--dark: #e43200;
  --main-color-light: #fac0b0;
  --color-white: rgb(255, 255, 255);
  --color-black: black;
}

html {
  font-size: 63.5%;
}

.home {
  background: url("./pics/augustine-wong-PxypFiQMkIk-unsplash.jpg") center
    center/cover;
  height: 100vh;
  z-index: -999;
}

.home .navbar .logo {
  width: 6rem;
  border-radius: 20rem;
  border: solid 0.1rem var(--main-color);
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box p {
  margin-left: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.menu,
nav button {
  display: none;
}

.navbar {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .link {
  font-size: 2.3rem;
  /* text-transform: uppercase; */
  margin-right: 1rem;
  text-decoration: none;
  color: var(--main-color);
  text-shadow: 1px 1px var(--color-black);
}

.nav .link:hover {
  color: var(--main-color--dark);
}

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15rem 20rem;
  gap: 10rem;
}

.main-image img {
  width: 35rem;
  border-radius: 20rem;
  border: solid var(--main-color--dark);
  transition: transform ease-in 0.6s;
  cursor: pointer;
}

.main-image img:hover {
  transform: scale(1.1);
}

.intro h1 {
  font-size: 5rem;
  font-family: "Passion One";
  display: block;
  color: var(--main-color);
  margin-bottom: 0;
}

.tst {
  opacity: 1;
  animation: movein 1s;
}

@keyframes movein {
  0% {
    transform: translateY(30rem);
    opacity: 0;
  }
  80% {
    /* transform: translateY(200rem); */
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro h1 span {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
}

.intro p {
  font-size: 2rem;
}

.intro button {
  border: none;
  margin-bottom: 1rem;
  background: var(--main-color--dark);
  color: #fac0b0;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 4;
  transition: all 0.3s linear;
  box-shadow: 0.5rem 0.5rem 0rem var(--main-color-light);
}

.intro button:hover {
  transform: translateY(-0.2rem);
  color: var(--color-white);
}

.intro button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: none;
  margin-bottom: 1rem;
  background: var(--main-color--dark);
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: -9;
  transition: 0.3s linear;
}

.intro button:hover::after {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
}

.socials {
  border-radius: 50rem;
  margin-top: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background: var(--main-color);
}

.socials img {
  border-radius: 5rem;
  padding: 0.2rem;
  background: var(--color-white);
  margin: 0.2rem;
  width: 2rem;
}

/* SECOND SECTION */

.about-me {
  padding: 5rem;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.about-me-main {
  background: rgba(255, 251, 251, 0.4);
  padding: 5rem;
}

.about-me-main h3 {
  background: var(--main-color);
  color: #ffffff;
  margin: auto;
  width: 40rem;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.about-me-main p {
  font-size: 2rem;
}

.socials-platform {
  margin-top: 5rem;
}

.socials-platform h3 {
  font-size: 4rem;
  color: var(--main-color);
  margin-bottom: 5rem;
}

.error {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.socials-container {
  background: var(--color-black);
  width: 20rem;
  padding: 3rem;
  position: relative;
  border-radius: 1rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.social-main img {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3rem;
  border: solid var(--main-color), 3rem;
  border-radius: 3rem;
}

.social-main h3 {
  color: var(--main-color);
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.social-main a {
  color: var(--color-white);
  text-decoration: none;
  border: none;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background: #fd3b06;
}

.facebook:hover {
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem #1178f2;
  transform: translateY(-1rem);
}

.spotify:hover {
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem #1ed760;
  transform: translateY(-1rem);
}
.email:hover {
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem #e94234;
  transform: translateY(-1rem);
}

.ig:hover {
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem #7d3baf;
  transform: translateY(-1rem);
}
.tiktok:hover {
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem #ee3f6f;
  transform: translateY(-1rem);
}
.yt:hover {
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem #ce2021;
  transform: translateY(-1rem);
}

/* ///////////////////////////////////////////////MEDIA//////////////////////////////// */

@media (max-width: 1200px) {
  .home-main {
    padding: 4rem 9rem;
    gap: 10rem;
  }

  .socials-platform {
    margin-top: 5rem;
  }
}

@media (max-width: 950px) {
  .socials-platform {
    margin-top: 2rem;
  }

  .socials-container {
    width: 15rem;
  }

  .social-main h3 {
    margin-top: 5rem;
  }
  .error {
    justify-content: center;
  }
}

@media (max-width: 843px) {
  html {
    font-size: 50.5%;
  }

  .home-main {
    padding: 18rem 9rem;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    /* padding: 0 9rem; */
  }

  .home-main .main-image {
    order: -1;
  }

  .home-main .main-image img {
    width: 26rem;
    position: absolute;
    right: 1rem;
    top: 10rem;
  }
}

@media (max-width: 843px) {
  .nav {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 10rem;
    transition: 0.3s linear;
  }

  .close-nav-bar {
    display: block;
    padding: 2rem 2rem;
    border-radius: 5rem;
    font-size: 3rem;
    border: none;
    width: 10rem;
    color: var(--color-white);
    background: var(--main-color--dark);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 5rem;
  }

  .nav .link {
    font-size: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  .translate {
    transform: translateX(100%);
  }

  .menu {
    display: block;
    background: var(--color-white);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
  }

  .menu div {
    background: var(--main-color--dark);
    width: 2rem;
    height: 0.1rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  .overlayer {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 720px) {
  .error {
    flex-direction: row;
    justify-content: center;
  }

  .socials-platform {
    margin-top: 2rem;
  }

  .socials-container {
    width: 15rem;
  }

  .social-main img {
    width: 8rem;
  }

  .social-main h3 {
    margin-top: 4rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 44.5%;
  }

  .home-main .main-image img {
    width: 23rem;
  }

  .home-main {
    padding: 28rem 9rem;
  }

  .home-main .main-image img {
    width: 26rem;
    position: absolute;
    right: 10rem;
    top: 15rem;
    border-radius: 1rem;
    border: none;
  }

  /* ABOUT ME SECTION */

  .socials-platform {
    margin-top: 0rem;
  }

  .error {
    justify-content: center;
  }
}

@media (max-width: 340px) {
  .intro h1 {
    font-size: 4rem;
    margin-top: 0;
  }

  .about-me-main h3 {
    width: 30rem;
    font-size: 3rem;
  }

  .social-main h3 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  .socials-platform {
    margin-top: 0;
  }

  .socials-container {
    width: 10rem;
  }

  .socials-container img {
    width: 7rem;
  }

  .error {
    flex-direction: row;
    justify-content: center;
  }

  .social-main a {
    padding: 1rem;
    border-radius: 0.4rem;
  }
}

@media (max-width: 320px) {
  .about-me {
    padding: 2rem;
  }
}
